[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MicrobiomeSurv"]
	path = MicrobiomeSurv
	url = https://github.com/n-t-huyen/microbiomesurv
